/* login */
.login-container {
  width: 500px;
  margin: 10% auto 0;
  padding: 50px 80px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.logo {
  text-align: center;
}

.app-logo {
  height: 200px;
  border-radius: 10px;
}

.login-container h4 {
  display: block;
  text-align: center;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.username {
  width: 100%;
  padding: 12px 10px;
  font-size: medium;
  margin: 8px 0; 
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.to-login {
  background-color: #4CAF50;
  color: white;
  font-size: medium;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
} 

/* header */
.header{
  background-color: rgb(235, 182, 235);
  padding: 5px;  
  height: 50px;
}

.header ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;

}
.header ul li{
  display:inline-block;
  margin-right: 15px;
}

.header li{
  list-style-type: none;
  color:black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin-top:20px;
  margin: 0px;
  padding: 0px;
}

.app-name {
  margin-top: 20px;
}

.nav-logo {
  display: inline-block;
  /* border-radius: 50%;
  width: 50px;
  height: 50px; */
  border-radius: 5px;
  width: 50px;
  height: 50px;
  position: relative;
}

.header span{
  margin-top: 20px;
  float:right;
}

/* job review */
.jobs-panel{
  display: flex;
  flex-direction: row;
  height: 490px;
  padding: 5px;
  margin: 20px;
  overflow-y:auto;
}

.jobs-panel h5 {
  color: rgb(97, 96, 96);
}

.jobs-panel div {
  text-align: center;
  width: 25%;
  margin: 10px;
  overflow-y:auto;
}

.job-list {
  border-radius: 5px;
  color: black;
  padding: 0px;
}

.job-list li {
  list-style-type:none;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 60px;
  padding:2px;
  margin-bottom: 10px;
  overflow-y:auto;
  overflow-x:auto;
}

.company, .position {
  margin: 5px;; 
}

.company {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 600;
}

.to-remove-job {
  margin: 5px;
  border-radius: 3px;
  height: 25px;
  font-size: 15px;
  font-family: lato; 
}

.sort-panel {
  float: right;
  margin-right: 20px;
}

.sort-panel label {
  margin-right: 5px;
}

/* job form */
.job-form {
  background-color: white;
  overflow-y: auto;
  display: block;
  text-align: center;
}

.title {
    align-items: center;
    text-align: center;
    height: 35px;
    border-bottom: 1px solid rgba(25, 4, 69, 0.1);
}

.job-form p {
  font-size: 15px;
  font-family: lato;
  font-weight: 600;
  letter-spacing: 0px;
  margin-bottom: 5px;
}

.job-form form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.options {
  margin-left: 10px;
}

.submit {
  background-color: rgba(244, 204, 94, 0.85);
  text-align: center;
  border-radius: 3px;
  height: 25px;
  font-size: 15px;
  font-family: lato;
  font-weight: 600;
  margin: 5px;
}

.job-company, .job-position, .applicated-date, .interview1-date, 
.interview2-date, .offer-date, .url, .location, .scription {
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-family: Lato;
  font-size: 14px;
  color: rgb(24, 0, 69);
  border: 1px solid rgba(25, 4, 69, 0.1);
  border-radius: 4px;
  min-height: 40px;
  outline: none;
  margin: 0px;
  box-shadow: rgba(25, 4, 69, 0.05) 0px 2px 7px;
}

.to-back-home {
  background-color: rgba(244, 204, 94, 0.85);
  margin: 5px;
  width: 100px;
  border-radius:4px;
  font-size: 15px;
}

/* outgoing */
.outgoing {
  text-align: right;
  margin: 10px;
  margin-right: 100px;
}

.to-add-job {
  background-color: rgb(231, 49, 140);
  color: white;
  border-radius:10px;
  height: 35px;
  width:100px;
  font-size: 15px;
}

/* footer */
footer {
  background-color: rgb(53, 52, 52);
  color: snow;
  font-size: 11px;
  padding: 20px 20px;
  text-align:center;
}

.footer-personal-info {
  list-style: none;
}

.footer-personal-info li{
  display: inline-block;
  margin-right: 15px;
}

